.article__section {
  padding-right: 30px;
  padding-left: 30px;
}

.article__section a {
  text-decoration: none;
}

.article__section h4 {
  color: #ff0000;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 8px;
}

.article__section a h2 {
  font-size: 28px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 0;
}

.article__section a p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.article__section .author {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.footer {
  color: #999999;
  padding: 13px 60px;
  text-align: center;
}

.footer a {
  color: #999999;
}

.footer p {
  text-align: center;
  margin: 0;
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.8;
}
.footer__links {
  text-decoration: none;
}
.footer__links:hover {
  text-decoration: underline;
}
